body {
  font-family: "Poppins";
}
table {
  width: 100%;
  /* text-align: center; */
  text-align: left;
  border-collapse: collapse;
  border-color: transparent;
}

th,
td {
  padding: 10px 5px;
  /* border: none; */
}
thead tr:nth-child(1) {
  background-color: #0002A1;
  color: #fff;
  text-align: center;
}
thead tr:nth-child(2) {
  background-color: #2b2edf;
  color: #fff;
}
tfoot tr:nth-child(2) {
  background-color: #0002A1;
  color: #fff;
  text-align: center;
}
tfoot tr:nth-child(1) {
  background-color: #2b2edf;
  color: #fff;
}
thead {
  border: none;
}
thead tr,
thead td {
  border: none;
}
.depth-0 {
  background-color: #bfddf0;
}

.depth-1 {
  background-color: #d9e8f1;
}

.depth-2 {
  background-color: #EFF5F5;
}

button {
  background-color: transparent;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  font-size: 130%;
}

tfoot tr {
  border: 1px solid #fff;
}
